.stage {
    width: 50%;
    top: 25%;
    margin: auto;
    border: 10px solid silver;
    box-sizing: initial;
    position: relative;
    margin-top: 200px;
    background-image: repeating-linear-gradient(transparent, transparent 19px, silver 20px),
        repeating-linear-gradient(90deg, transparent, transparent 19px, silver 20px);
}

.startBtn {
    background: aquamarine;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-size: 16px;
    font-family: Verdana arial;
    border: 3px solid chartreuse;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.ring {
    width: 20px;
    height: 20px;
    background: #00637f;
    border: 2px solid #003366;
    position: absolute;
    box-sizing: border-box
}

.head {
    background: #009933;
    z-index: 2;
}