#placeToInsert{
    width: 200px;
    height: 200px;
    display: block;
}

.stage {
    margin: auto;
    border: 10px solid #66A7C5;
    box-sizing: initial;
    position: relative;
    margin-top: 200px;
    color: #6C7476;
    background-image: repeating-linear-gradient(transparent, transparent 19px, #F0ECEB 20px),
        repeating-linear-gradient(90deg, transparent, transparent 19px, #F0ECEB 20px);
}

.startBtn {
    background: aquamarine;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-size: 16px;
    font-family: Verdana arial;
    border: 3px solid chartreuse;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.ring {
    width: 20px;
    height: 20px;
    background: radial-gradient(#CEEBFB, #A3D6F5, #66A7C5);
    border: 2px solid #003366;
    position: absolute;
    box-sizing: border-box
}

.head {
    background: #66A7C5;
    z-index: 2;
}

.dot{
    z-index: 3;
    background: #EE3233;
    border: 2px solid #612233;
}

.gameName{
    text-align: center;
    line-height: 70px;
    font-size: 35px;
    letter-spacing: -4px;
    font-weight: bold;
    font-family: verdana;
    color: #66A7C5;
    text-shadow: -1px 0 #6C7476, 0 3px #6C7476, 1px 0 #6C7476, 0px -1px #6C7476;
}

.heightScore{
    text-align: center;
    font-family: monospace;
    font-size: 15px;
}

.playButton{
    margin: 20px auto 0 auto;
    display: inherit;
    background: none;
    border: none;
    font-family: verdana;
    font-weight: bold;
    font-size: 24px;
    color: #CEEBFB;
    text-shadow: -1px 0 #6C7476, 0 2px #6C7476, 1px 0 #6C7476, 0px -1px #6C7476;
    letter-spacing: -1px;
    cursor: pointer;
    padding-left: 27px;
}

.playButton:after{
    content: "\25B6";
    margin-left: 6px;
    color: #EE3233;
    text-shadow: none;
    display: inline-block;
    background: green;
    border-radius: 100%;
    font-size: 46px;
    line-height: 40px;
    letter-spacing: 0;
    text-align: center;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    background: radial-gradient(#CEEBFB, #A3D6F5, #66A7C5);
    border: 1px solid #6C7476;
    text-shadow: -1px 0 #F0ECEB, 0 2px #F0ECEB, 1px 0 #F0ECEB, 0px -1px #F0ECEB;
}